In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('titanic.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### How many passengers are in our passenger list? From here forward, we’ll assume our dataset represents the full passenger list for the Titanic.

In [13]:
print "There are {} passengers in the list".format(len(df))

There are 891 passengers in the list

### What is the overall survival rate (as a percentage of total passengers in our list)?

In [49]:
total_survived = df.loc[df.Survived==1,'Survived'].count()
total_passengers = len(df)

survival_rate = float(total_survived)/total_passengers
print "The Overall survival rate is {}".format(survival_rate)

The Overall survival rate is 0.383838383838

### 3) How many male passengers were onboard?

In [53]:
total_males = df.loc[df.Sex=='male','Sex'].count()

print "There were total {} male passengers on board".format(total_males)

There were total 577 male passengers on board

### 4) How many female passengers were onboard?

In [55]:
total_females = df.loc[df.Sex=='female','Sex'].count()

print "There were total {} male passengers on board".format(total_females)

There were total 314 male passengers on board

### 5)What is the overall survival rate of male passengers?

In [79]:
male_survived = df.loc[(df['Sex']=='male')& (df['Survived']==1), 'Survived'].count()
male_survival_rate = float(male_survived)/total_males

print "Male survival rate {}".format(male_survival_rate)

Male survival rate 0.188908145581

### 5)What is the overall survival rate of male passengers?¶

In [78]:
female_survived = df.loc[(df['Sex']=='female')& (df['Survived']==1), 'Survived'].count()
female_survival_rate = float(female_survived)/total_females

print "Female survival rate {}".format(female_survival_rate)

Female survival rate 0.742038216561

### 7) What is the average age of all passengers onboard?

In [81]:
average_age_passengers = df['Age'].mean()

print "average age of passenegrs is {}".format(average_age_passengers)

average age of passenegrs is 29.6991176471

### 8) What is the average age of passengers who survived?

In [84]:
total_survived = f.loc[df.Survived == 1, 'Survived'].count()

342